
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Страница поиска</title>
	<link href="~/css/HeaderStyles.css" rel="stylesheet" />
	<link href="~/css/MainStyles.css" rel="stylesheet" />
	<link href="~/css/FooterStyles.css" rel="stylesheet" />
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<!-- Подключение фреймворка Vue -->
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<!-- Выгрузка категорий товаров. -->
	<div id="idPortfolioDop" class="col-lg-12 col-xs-12">
		<div class="content">
			<div class="col-lg-12 block-title-category mt-2 mb-2">
				<h1 class="title-category">Поиск</h1>
			</div>

			@model IEnumerable<TextilWorld.Models.CategoryDetails>
			@foreach (var item in Model) {
				<div id="idImagesNotEffect" class="col-lg-3 col-xs-12">
					<div class="block-images">
						<a href="@Url.Action("DisplayConcreateProduct", "Product", new { item.Id })" id="idLinkSite">
							<img class="min-width-img" src="@Url.Content(item.ImagePath.Replace("wwwroot", "~"))" /> <br />
						</a>

						<div class="details-text">
							@item.Details
						</div>

						<div id="id-details-block" class="btnDetails mt-2">
							<div class="form-group hidden">
								<input type="text" name="id" value="@item.Id" />
							</div>

							<div class="count-product">
								<span class="minus">-</span>

								<input type="text" class="text" name="quantity" value="1" />

								<span class="plus">+</span>
							</div>
							<form asp-action="AddProductToShop" asp-controller="Product" asp-route-id="@item.Id">
								<div id="idBtnDetails" class="form-group">
									<input id="id-details" type="submit" value="В корзину" class="btn fancy btn-1 btn-sm btn-details text-center" />
								</div>
							</form>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</body>
</html>
